<h3 class="mt-4" @ref="focusRef">Change the role of a User</h3>

<div class="mt-3">
    <EditForm Model="@EditedMember" OnValidSubmit="@SubmitEdit" class="p-4 p-md-5 border rounded-3 bg-light">
        <DataAnnotationsValidator />
        <p>Member : @EditedMember.Pseudo</p>
        <label for="Role">Role:</label>
        <InputSelect id="Role" @bind-Value="@EditedMember.Role" class="form-control">
            <option value="" disabled>Select..</option>
            <option value="1">Tester</option>
            <option value="2">Developer</option>
            <option value="3">Project Manager</option>
            @if (_myMemberModel.Role == 5)
            {
                <option value="4">Administrator</option>
            }
        </InputSelect>
       
        <button type="submit" class="btn btn-warning mt-2 me-2" title="Edit">Confirm Edit</button>
        <button @onclick="OnCancel" class="btn btn-primary mt-2" title="Close">Close</button>

        <ValidationSummary />
    </EditForm>
</div>