@page "/dashboard"
<h3>Dashboard</h3>

@if (!_isMemberConnected)
{
    <h4>You are not connected. Please, login first.</h4>
}
else
{
    <h4>Welcome on the Bug tracker app</h4>
     @:You are logged in!
    <DisplayMembers />
}


