@page "/dashboard"
<h3>Dashboard</h3>


<h4>Welcome on the Bug tracker app</h4>
<p>You are logged in ! Do you want to see the list of all members ?</p>
<button class="btn btn-primary" @onclick="() => _displayMembers = true">List of members</button>

@if (_displayMembers)
{
    if (!_isMemberConnected)
    {
        <span class="text-danger">You are not connected</span>
    }
    else
    {
        <DisplayMembers />
    }
}


