@page "/"

<PageTitle>Dashboard |Bugtracker</PageTitle>
<h1>Dashboard</h1>

@if (!_isMemberConnected)
{
    <p class="text-danger">You are not connected. Click below to go to login page</p>
    <button class="btn btn-primary" @onclick="ToAccount">Login page</button>
}
else
{
    <p>You are logged in ! Do you want to see the list of your projects or your tickets ?:</p>
    <button class="btn @((_displayMyTicketsComponent) ? "btn-secondary": "btn-primary") me-2" @onclick="DisplayMyTicketsComponent">My Tickets</button>
    <button class="btn @((_displayMyProjectsComponent) ? "btn-secondary": "btn-primary")" @onclick="DisplayMyProjectsComponent">My Projects</button>

    @if (_displayMyTicketsComponent)
    {
        <DisplayMyTickets />
    }
    else if (_displayMyProjectsComponent)
    {
        <DisplayMyProjects />
    }
    <p class="mt-4">Or do you want to see the list of all projects or all tickets ?</p>
    <button class="btn @((_displayProjectsComponent) ? "btn-secondary" : "btn-primary") me-2" @onclick="DisplayProjectsComponent">List of projects</button>
    <button class="btn @((_displayTicketsComponent) ? "btn-secondary" : "btn-primary")" @onclick="DisplayTicketsComponent">List of tickets</button>
    @if (_displayProjectsComponent)
    {
        <DisplayProjects />
    }
    else if (_displayTicketsComponent)
    {
        <DisplayTickets />
    }
}


