@page "/"

<PageTitle>Dashboard |Bugtracker</PageTitle>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col align-self-center">
        <h1>Welcome on your Dashboard.</h1>

        @if (!_isMemberConnected)
        {
            <p class="text-danger">You are not connected. Click below to go to login page</p>
            <button class="btn btn-primary" @onclick="ToAccount">Login page</button>
        }
        else
        {
            <p>Do you want to see the list of your projects or the list of your tickets ?</p>

            <button class="btn @((_displayMyProjectsComponent) ? "btn-outline-secondary": "btn-outline-primary") mt-2 me-2" @onclick="DisplayMyProjectsComponent" title="My projects">My Projects</button>
            <button class="btn @((_displayMyTicketsComponent) ? "btn-outline-secondary": "btn-outline-primary") mt-2" @onclick="DisplayMyTicketsComponent" title="My tickets">My Tickets</button>

            @if (_displayMyProjectsComponent)
            {
                <DisplayMyProjects />
            }
            else if (_displayMyTicketsComponent)
            {
                <DisplayMyTickets />
            }
        }
    </div>
    <div class="col-2">
    </div>
</div>


