@page "/"

<PageTitle>Dashboard |Bugtracker</PageTitle>
<h1>Dashboard</h1>

@if (!_isMemberConnected)
{
    <span class="text-danger">You are not connected. Click below to go to login page</span>
    <button class="btn btn-primary" @onclick="ToAccount">Login page</button>
}
else
{
    <p>You are logged in ! Do you want to see the list of all projects ?</p>
    <button class="btn btn-primary" @onclick="DisplayProjectsComponent">List of projects</button>
    <button class="btn btn-primary" @onclick="DisplayTicketsComponent">List of tickets</button>
    @if (_displayProjectsComponent)
    {
       <DisplayProjects />
    }
    @if (_displayTicketsComponent)
    {
        <DisplayTickets />
    }

}


