@page "/"

<PageTitle>Dashboard |Bugtracker</PageTitle>
<h1>Welcome on your Dashboard.</h1>

@if (!_isMemberConnected)
{
    <p class="text-danger">You are not connected. Click below to go to login page</p>
    <button class="btn btn-primary" @onclick="ToAccount">Login page</button>
}
else
{
    <p>Do you want to see the list of your projects or the list of your tickets ?</p>
    
    <button class="btn @((_displayMyProjectsComponent) ? "btn-outline-secondary": "btn-outline-primary") mt-2 me-2" @onclick="DisplayMyProjectsComponent" title="My projects">My Projects</button>
    <button class="btn @((_displayMyTicketsComponent) ? "btn-outline-secondary": "btn-outline-primary") mt-2" @onclick="DisplayMyTicketsComponent" title="My tickets">My Tickets</button>

    @if (_displayMyProjectsComponent)
    {
         <DisplayMyProjects />
    }
    else if (_displayMyTicketsComponent)
    {
       <DisplayMyTickets />
    }
    <p class="mt-5">Or do you prefer to see the list of all projects or the list of all tickets ?</p>
    <button class="btn @((_displayProjectsComponent) ? "btn-outline-secondary" : "btn-outline-primary") mt-2 me-2" @onclick="DisplayProjectsComponent" title="All projects">List of all Projects</button>
    <button class="btn @((_displayTicketsComponent) ? "btn-outline-secondary" : "btn-outline-primary") mt-2" @onclick="DisplayTicketsComponent" title="All tickets">List of all Tickets</button>
    @if (_displayProjectsComponent)
    {
        <DisplayProjects />
    }
    else if (_displayTicketsComponent)
    {
        <DisplayTickets />
    }
}


