
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello and welcome</h1>
<p>In order to access the website, please register first by completing the following form. <br>
    After that you have been registred, you can login below the registration form.</p>
<h2>Register</h2>
<RegisterMember/>

<h2>Login</h2>
<LoginMember/>