
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello and welcome</h1>
<p>
    In order to access the Bug tracker application, you must be logged in first. <br />
    Do you want to login or create a new account ?
</p>
<button class="btn btn-primary" @onclick="DisplayLogin">Login</button>
<button class="btn btn-primary" @onclick="DisplayRegistration">Create new account</button>

@if (_displayRegistration)
{
    <RegisterMember/>
}
else if (_displayLogin)
{
    <LoginMember/>
}