@page "/logout"
<h3>Logout</h3>

Are you sure you want to Logout ?
<div class="mt-2">
@if (_isMemberConnected)
{
    <button @onclick="ToDashboard" class="btn btn-primary me-2">Back to Dashboard</button>
    <button @onclick="ConfirmLogout" class="btn btn-warning">Confirm logout</button>
}
</div>
@if (!_isMemberConnected)
{
    <span class="text-success">Logout successful.</span>
    <p>Do you want to login again ?</p>
    <button class="btn btn-primary" @onclick="ToLogin">Back to Login</button>
}