@page "/members"
<PageTitle>Members |Bugtracker</PageTitle>
<h1>Member management</h1>


@if (!_isMemberConnected)
{
    <p class="text-danger">You are not connected. Click below to go to login page</p>
    <button class="btn btn-primary" @onclick="ToAccount">Login page</button>
}
else
{
    <p>You are logged in ! Do you want to see the list of all members ?</p>
    <button class="btn btn-primary" @onclick="DisplayMembersComponent">List of members</button>
    @if (_displayMembersComponent)
    {
        <DisplayMembers />
    }
}