@page "/account"
<PageTitle>Account |Bugtracker</PageTitle>

<div class="row">
    <div class="col-2">
    </div>

    <div class="col align-self-center">
        <h1 class="oi oi-person"> Account</h1>

        @if (!_isMemberConnected)
        {
            <p class="mt-3">
                Welcome on the Bug tracker application. <br />
                In order to access the website, you first need to be logged in. <br />
                Do you want to login with your existing account, or do you want to create a new one ?
            </p>
            <button class="btn @((_displayLogin) ? "btn-outline-secondary" : "btn-outline-primary")" @onclick="DisplayLogin" title="Login">Login</button>
            <button class="btn @((_displayRegistration) ? "btn-outline-secondary" : "btn-outline-primary")" @onclick="DisplayRegistration" title="New account">New account</button>

            @if (_displayRegistration)
            {
                <RegisterMember />
            }
            else if (_displayLogin)
            {
                <LoginMember />
            }
        }
        else
        {
            <p class="mt-3">
                Welcome on your account page. <br />
                Here, you can view or modify your profile information. <br />
                You can also change your password.
            </p>
            <ProfileMember />
        }
    </div>

    <div class="col-2">
    </div>
</div>
