@page "/manager"
<PageTitle>Manager |Bugtracker</PageTitle>

<div class="row">
    <div class="col-2">
    </div>

    <div class="col align-self-center">
        <h1 class="oi oi-clipboard"> Project Manager</h1>
        <p class="mt-3">
            You can find here the Project Manager module. <br />
        </p>

        @if (!_isMemberConnected)
        {
            <p class="text-danger">You are not connected. Click below to go to login page</p>
            <button class="btn btn-primary" @onclick="ToAccount">Login page</button>
        }
        else if (_myMemberModel.Role == 2)
        {
            <p class="text-danger">You are a tester, you don't have access to this section. Please, click below to go back to the Dashboard</p>
            <button class="btn btn-primary" @onclick="ToDashboard">Dashboard</button>
        }
        else if (_myMemberModel.Role == 1)
        {
            <LimitedTicketList />
        }
        else
        {
            <p class="mt-5">Do you want to see the list of all projects or the list of all tickets ?</p>

            <button class="btn btn-outline-primary mt-2 me-2" @onclick="DisplayProjectsComponent" title="All projects">All Projects</button>

            <button class="btn btn-outline-primary mt-2" @onclick="DisplayTicketsComponent" title="All tickets">All Tickets</button>

            @if (_displayProjectsComponent)
            {
                <ProjectList />
            }
            else if (_displayTicketsComponent)
            {
                <TicketList />
            }
        }
    </div>
    <div class="col-2">
    </div>
</div>
