<h3>Members list</h3>

<ul>
    @if (_members.Count == 0)
    {
        @:Chargement du composant affichant les membres...
    }
    else
    {
        @foreach (MemberModel member in _members)
        {
            <li class="mt-4">Member Pseudo : @member.Pseudo </li>
            <li>Member Email : @member.Email </li>
            <button @onclick="() => DeleteMember(member.IdMember)">Delete</button>
            <button @onclick="() => DisplayEditMemberDialog(member.IdMember)">Edit</button>
            @if (_displayEditMemberDialog && member.IdMember == _memberEditId)
            {
                <EditMember MemberEditId="@_memberEditId" OnCancel="CloseEditMemberDialog" OnConfirm="ConfirmMemberEdit" />
            }
        }
    }
</ul>

<p>Is my member connected ? Is token found and validated ? @_isMemberConnected </p>



