
<h5>DisplayMembers</h5>
<ul>
    @if (members.Count == 0)
    {
        @:Chargement du composant affichant les membres...
    }
    else {

        @foreach (MemberVm member in members) {
            <li class="mt-4">Member Id : @member.IdMember </li>
            <li>Member Login : @member.Login </li>
            <li>Member Password : @member.Password </li>
            <li>Member Email Address : @member.EmailAddress </li>
    }
}
</ul>
