@page "/logout"
<PageTitle>Logout |Bugtracker</PageTitle>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col align-self-center">
        @if (_isMemberConnected)
        {
            <h1>Logout</h1>
            <span>Do you want to Logout ?</span>
            <button @onclick="ToDashboard" class="btn btn-primary me-2" title="Navigate to Dashboard">Back to Dashboard</button>
            <button @onclick="ConfirmLogout" class="btn btn-danger" title="Logout">Logout</button>
        }
    </div>
    <div class="col-2">
    </div>
</div>